body{
  font-family: 'Permanent Marker', cursive;
}

.mainContainer{
  height:100vh;
  background: url('bgImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.contentContainer{
  text-align: center;
  background-color: none;
}

.heading{
  font-family: "Permanent Marker", cursive;
  text-align: center;
  margin-top: auto;
}
