@font-face {
    font-family: mine;
    /* src: url("anastasia-script-personal-use.regular.ttf"); */
    /* src:url("prestige-signature-script-demo.regular.ttf"); */
    src: url("./src/Prestige Signature Script - Demo.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
}

a {
    text-decoration: none!important;
    color: black;
}

a:hover {
    color: slategray;
}

body {
    margin: auto;
    padding: 2em 4em 2em 4em;
    font-family: Roboto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

header h1 {
    font-family: mine;
    letter-spacing: 6px;
    cursor: pointer;
}

header h1 a:hover {
    color: black!important;
}

nav {
    display: flex;
    justify-items: flex-end;
    font-size: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
}

li {
    list-style-type: none;
    padding: 0 1em 0 1em;
}

img {
    width: 80%;
    height: 98%;
    margin: auto;
}

footer {
    position: fixed;
    width: 90%;
    bottom: 1em;
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: black!important;
}

.carousel {
    /* position: relative; */
    height: calc(100vh - 170px);
}

.carousel-item {
    height: calc(100vh - 170px);
}

.carousel-item img {
    /* position: absolute;
    top: 0;
    left: 0; */
    min-height: calc(100vh - 170px);
}


/* ######################################## */

.about-content {
    width: 60%;
    margin: auto;
    margin-top: 2em;
}

.about-content h1 {
    text-transform: uppercase;
}

.about-content h5 {
    line-height: 1.5;
}

.about-secondary-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

#aboutImage {
    grid-column: 1/2;
    /* border-radius: 50%; */
    /* width: 50%; */
    height: 50vh;
    width: auto;
    padding: 1em;
}

.about-secondary-content p {
    font-size: 1.8vh;
    line-height: 2;
}

.about-main-content {
    grid-column: 2/3;
}