@font-face {
    font-family: mine;
    /* src: url("anastasia-script-personal-use.regular.ttf"); */
    /* src:url("prestige-signature-script-demo.regular.ttf"); */
    src: url("fonts/Prestige Signature Script - Demo.ttf");
}


/* ############################################################

    GENERAL DESIGN NOTES

##############################################################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none!important;
    color: black;
}

a:hover {
    color: slategray;
}

p {
    font-size: 0.8em;
}

body {
    margin: auto;
    /* padding: 2em 4em 2em 4em; */
    /* font-family: Roboto; */
    color: #4c4c4c;
}

img {
    width: 80%;
    height: 98%;
    margin: auto;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0em;
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: black !important;
    background-color: white;
    opacity: 0.95;
    padding: 1em;
}


/* ############################################################

    HEADER / NAVBAR

##############################################################*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.navbar-brand {
    font-family: mine;
    letter-spacing: 6px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 3em;
}

nav {
    font-size: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
    background-color: white;
    opacity: 0.94;
}

.navbar-toggler:focus {
    outline: none!important;
}

.selected {
    color: grey;
}

li {
    list-style-type: none;
    padding: 0 1em 0 1em;
    /* text-indent: -8px; */
}


/* ############################################################

    CAROUSEL

##############################################################*/

.carousel {
    height: calc(100vh - 150px);
    margin-bottom: 2em;
}

.carousel-item {
    height: calc(100vh - 150px);
}

.carousel-item img {
    min-height: calc(100vh - 150px);
}

.section-header {
    font-family: 'Playfair Display', serif;
}


/* Offset sticky fixed header */

:target {
    padding-top: 100px;
    margin-top: -100px;
    display: inline-block;
}


/* ############################################################

    GENERAL - SECTION SET UP

##############################################################*/

#about-me {
    padding-left: 1em;
}

.resume,
.contact,
.projects {
    padding: 1em;
    margin: 0.5em;
}

.resume {
    border: black 2px solid;
}


/* ############################################################

    ABOUT SECTION

##############################################################*/

.a-flex-three-column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: Center;
    align-content: center;
    align-items: center;
}

.a-content {
    grid-column: 2/3;
    padding: 1em;
}

.a-image {
    grid-column: 1/2;
    padding: 1em
}


/* ############################################################

    RESUME SECTION

##############################################################*/

.r-flex-two-column {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.r-heading-column {
    grid-column: 1/2 background-color: blue;
    padding: 1em;
}

.r-content-section {
    grid-column: 2/4 background-color: pink;
    padding: 1em;
}

.r-technology-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 6em;
    font-size: 0.8em;
}

.r-technology-section li {
    list-style-type: disc;
}

.section-sub-title {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 800;
}

.section-sub-heading {
    font-size: 0.7em;
    font-weight: 600;
}


/* ############################################################

    PROJECTS / PORTFOLIO SECTION

##############################################################*/


/* Collection of projects */

.foo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0em;
    align-items: center;
}

.c-section-one {
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 1em;
}


/* ######################################## */


/* SECONDARY ABOUT CONTAINER */

.carousel-caption {
    width: 100%;
    height: 100%;
    left: 0 !important;
    top: 30%;
}

.carousel-caption h3 {
    font-size: 5em;
    font-family: 'Playfair Display', serif;
}

.top-image-container {
    height: 50vh;
}

.top-image {
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em;
    text-align: Center;
}

.statement {
    font-style: italic;
    font-family: 'Playfair Display', serif;
    /* font-size: 2.2em; */
}

.opening-paragraph {
    /* text-align: center; */
    padding: 2em 4em 2em 4em;
    font-size: 1.8em;
    background-color: #f6f7f8;
}

.first-sentence {
    color: black;
    font-weight: 600;
}

.flex-two-containers {
    display: flex;
    align-items: center;
}

.image-about {
    height: 50vh;
    width: auto;
    margin: 0;
    padding: 1em;
    border-radius: 50%;
}

.flex-container-content {
    padding: 4em;
    line-height: 2;
}

.closing-paragraph {
    text-align: center;
    background-color: black;
    color: white;
    padding: 2em;
    margin: 1em;
}

.closing-paragraph i {
    color: white;
    padding: .5em;
}


/* First Opening Sentence */

.first-block {
    text-align: center;
    padding: 2em 0 2em 0;
    margin: 0;
    background-color: black;
    color: white;
    text-transform: uppercase
}


/* ######################################## */

.about-content {
    width: 60%;
    margin: auto;
    margin-top: 2em;
}

.about-content h1 {
    text-transform: uppercase;
}


/* Test grid setup */

.content-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 1em;
}

.image-container {
    grid-column: 1/2;
}

.info-container {
    grid-column: 2/3;
    font-size: 1.8vh;
    /* margin-top: .8em; */
    line-height: 1.7;
    padding: 1em;
}

.heading {
    grid-template-columns: 1/3l
}

.about-content h5 {
    line-height: 1.5;
}


/* .about-secondary-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
} */

#aboutImage {
    /* border-radius: 50%; */
    /* width: 50%; */
    height: 50vh;
    width: auto;
    padding: 1em;
}


/* ######################################## 
    COLLECTION CARDS
*/

.card-container {
    position: relative;
    /* margin-top: 50px; */
    width: 450px;
    height: 300px;
    margin: 50px auto;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.card-container:hover .card-overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.collection-image {
    position: absolute;
    width: 450px;
    height: 300px;
    left: 0;
    opacity: 0.6;
}

.card-title {
    position: absolute;
    width: 450px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    /* z-index: 1;
    transition: top .5s ease; */
}

.card-container:hover .card-title {
    top: 90px;
}

.card-button {
    position: absolute;
    width: 450px;
    left: 0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.card-button a {
    width: 100px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.card-container:hover .card-button {
    opacity: 1;
}

.collection-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-top: 0;
    margin: auto;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#portfolio * {
    z-index: 2;
}

.img-fluid {
    width: 100%;
}


/* ############################################################

   MEDIA QUERIES

##############################################################*/

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.portfolio-modal {
    padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
    cursor: pointer;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #212529;
}


/* Responsive Design */

@media only screen and (max-width: 600px) {
    body {
        padding: 1em;
    }
    header h1 {
        font-size: 1.2em;
        padding: 1em;
    }
    header {
        align-items: center!important;
    }
    .carousel {
        /* position: relative; */
        height: calc(100vh - 370px);
        margin-top: 4em;
    }
    .carousel-caption h3 {
        font-size: 2em;
    }
    .carousel-item {
        height: calc(100vh - 370px);
    }
    .carousel-item img {
        min-height: calc(100vh - 370px);
    }
    .about-content {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        padding: 1em;
    }
    .content-container {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 1em;
    }
    .image-container {
        grid-column: 1/2;
    }
    .info-container {
        grid-column: 1/2;
        font-size: 1.8vh;
        /* margin-top: .8em; */
        line-height: 1.7;
        padding: 1em;
    }
    .page-footer {
        position: static;
    }
    .collection-container {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0!important;
    }
    .card-container,
    .collection-image,
    .card-title,
    .card-button {
        width: 320px;
    }
}