@font-face {
    font-family: mine;
    /* src: url("anastasia-script-personal-use.regular.ttf"); */
    /* src:url("prestige-signature-script-demo.regular.ttf"); */
    src: url("fonts/Prestige Signature Script - Demo.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
}

a {
    text-decoration: none!important;
    color: black;
}

a:hover {
    color: slategray;
}

body {
    margin: auto;
    padding: 2em 4em 2em 4em;
    font-family: Roboto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

header h1 {
    font-family: mine;
    letter-spacing: 6px;
    cursor: pointer;
}

header h1 a:hover {
    color: black!important;
}

.navbar-brand {
    font-family: mine;
    letter-spacing: 6px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 3em;
}

nav {
    display: flex;
    justify-items: flex-end;
    font-size: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
}

.selected {
    color: grey;
}

li {
    list-style-type: none;
    padding: 0 1em 0 1em;
}

img {
    width: 80%;
    height: 98%;
    margin: auto;
}

footer {
    position: fixed;
    width: 90%;
    bottom: 1em;
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: black!important;
}

.other-footer {
    position: static;
    margin-right: 0em!important;
    padding-top: 2em;
}

.carousel {
    /* position: relative; */
    height: calc(100vh - 170px);
}

.carousel-item {
    height: calc(100vh - 170px);
}

.carousel-item img {
    /* position: absolute;
    top: 0;
    left: 0; */
    min-height: calc(100vh - 170px);
}


/* ######################################## */


/* SECONDARY ABOUT CONTAINER */

.contents-container-new {
    display: flex;
    justify-content: center;
    align-content: center;
}

.image-about {
    height: 50vh;
    width: auto;
    padding: 1em;
    border-radius: 50%;
}

.carousel-caption {
    width: 100%;
    height: 100%;
    left: 0 !important;
    top: 30%;
}

.carousel-caption h3 {
    font-size: 5em;
}


/* ######################################## */

.about-content {
    width: 60%;
    margin: auto;
    margin-top: 2em;
}

.about-content h1 {
    text-transform: uppercase;
}


/* Test grid setup */

.content-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 1em;
}

.image-container {
    grid-column: 1/2;
}

.info-container {
    grid-column: 2/3;
    font-size: 1.8vh;
    /* margin-top: .8em; */
    line-height: 1.7;
    padding: 1em;
}

.heading {
    grid-template-columns: 1/3l
}

.about-content h5 {
    line-height: 1.5;
}


/* .about-secondary-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
} */

#aboutImage {
    /* border-radius: 50%; */
    /* width: 50%; */
    height: 50vh;
    width: auto;
    padding: 1em;
}


/* ######################################## 
    COLLECTION CARDS
*/

.card-container {
    position: relative;
    margin-top: 50px;
    width: 450px;
    height: 300px;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.card-container:hover .card-overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.collection-image {
    position: absolute;
    width: 450px;
    height: 300px;
    left: 0;
    opacity: 0.6;
}

.card-title {
    position: absolute;
    width: 450px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    /* color: black; */
    z-index: 1;
    transition: top .5s ease;
}

.card-container:hover .card-title {
    top: 90px;
}

.card-button {
    position: absolute;
    width: 450px;
    left: 0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.card-button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.card-container:hover .card-button {
    opacity: 1;
}

.collection-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-top: 0;
    margin: auto;
}


/* Responsive Design */

@media only screen and (max-width: 600px) {
    body {
        padding: 1em;
    }
    header h1 {
        font-size: 1.2em;
        padding: 1em;
    }
    header {
        align-items: center!important;
    }
    .carousel {
        /* position: relative; */
        height: calc(100vh - 370px);
        margin-top: 4em;
    }
    .carousel-caption h3 {
        font-size: 2em;
    }
    .carousel-item {
        height: calc(100vh - 370px);
    }
    .carousel-item img {
        min-height: calc(100vh - 370px);
    }
    .about-content {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        padding: 1em;
    }
    .content-container {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 1em;
    }
    .image-container {
        grid-column: 1/2;
    }
    .info-container {
        grid-column: 1/2;
        font-size: 1.8vh;
        /* margin-top: .8em; */
        line-height: 1.7;
        padding: 1em;
    }
    .page-footer {
        position: static;
    }
    .collection-container {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0!important;
    }
    .card-container,
    .collection-image,
    .card-title,
    .card-button {
        width: 320px;
    }
}