body{
  /* font-family: 'Permanent Marker', cursive; */
  font-family:'Montserrat', sans-serif;
}

.mainContainer{
  height:100vh;
  width:100vw;
  background: url('bgImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.mainContainer h1{
  /* font-family: "Permanent Marker", cursive; */
  font-family:'Montserrat', sans-serif;
  text-align: center;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}

.mainContainer p{
  text-align: center;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}

.secondContainer{
  height: 100vh;
  width:100vw;
  background-color: lightblue;
}




#logoImage{
  height:100px;
  width:auto;
  align-items: center;
}

.mainText{
  height:35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding:25px;
}

.mainText h1{
  font-size: 6em;
  /* color: #008080; */
  color:black;
}

section{
  text-align: center;
}

.icon{
  margin-top: 15px;
  font-size:2em!important;
  text-decoration: none!important;
  padding: 10px;
  color:black;
  text-decoration: none;
  padding-right: 10px;
}


.icon:hover{
  text-decoration: none;
  color:grey;
}


.button{
  font-size:1.2em;
  color:white;
  background-color: #00C8AA;
  border: #00C8AA 2px solid;
  border-radius: 15px;
  padding:15px;
  text-decoration: none!important;
}

.button:hover{
  background-color: transparent;
  /* background-color: #00A8AB; */
  border: #00A8AA 2px solid;
  color:black;
}
